<section class="brides-greeting-section">
    <div class="flower-top">
        <img src="images/cover/flower-top.png" alt="Decorative flowers">
    </div>
    <div class="content-wrapper">
        <div class="waveform-container">
            <canvas id="visualizer" class="visualizer-canvas"></canvas>
        </div>
        <audio id="audioPlayback-greetings" controls style="display:none"></audio>
        <div class="vtt-container" id="lyricsBox"></div>
    </div>
    <div class="flower-bottom">
        <img src="images/cover/flower-bottom.png" alt="Decorative flowers">
    </div>
</section>