<section class="splash-screen">
  <div class="flower-top">
    <img src="images/cover/flower-top.png" alt="Decorative flowers">
  </div>
  <div class="brides-button-wrapper">
    <div class="brides-name">
      <p>Our Guestbook</p>
      <h2 id="coupleNames">Firdaus & Najiha</h2>
      <p id="weddingDate">December 4th, 2026</p>
    </div>
  </div>
  <div class="start-button" id="actionBtn">
    <p>UPLOAD MEDIA</p>
  </div>
  <div class="flower-bottom">
    <img src="images/cover/flower-bottom.png" alt="Decorative flowers">
  </div>
</section>